{% extends 'base.html.twig' %}

{% block title %}New Recette{% endblock %}

{% block body %}
    <h1>Create new Recette</h1>
    {% for ingredientRecette in recette.ingredientRecettes %}
        {{ ingredientRecette.ingredient.nom }} - {{ ingredientRecette.quantite }} {{ ingredientRecette.uniteMesure }}<br>
    {% endfor %}


    {{ include('recette/_form.html.twig') }}

    <a href="{{ path('app_recette_index') }}">back to list</a>
{% endblock %}
