{% extends 'base.html.twig' %}

{% block title %}Regime{% endblock %}

{% block body %}
    <h1>Regime</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ regime.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ regime.nom }}</td>
            </tr>
            <tr>
                <th>Couleur</th>
                <td>{{ regime.couleur }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ regime.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_regime_index') }}">back to list</a>

    <a href="{{ path('app_regime_edit', {'id': regime.id}) }}">edit</a>

    {{ include('regime/_delete_form.html.twig') }}
{% endblock %}
